/* Start Yellow Theme */

/* Navbar */
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.carousel-indicators .active,
.option-box .gear-check,
.option-box .color-option ul li
{
  background-color: #ffeb3b;
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testmonial span,
.footer h3,
.footer .copyright span
{
  color: #ffeb3b;
}

.option-box .color-option,
.testmonial .carousel-indicators li.active
{
  border: 3px solid #ffeb3b;
}

/* Dropdown Menu */
.dropdown-menu
{
  border-top: 3px solid #ffeb3b;
}

/* End Yellow Theme */
